p {
    font-family: 'JetBrains Mono', Consolas, 'Courier New', monospace;
}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
}

a {
    font-family: 'JetBrains Mono', Consolas, 'Courier New', monospace;
}

input {
    font-family: 'JetBrains Mono', Consolas, 'Courier New', monospace;
}

button {
    font-family: 'JetBrains Mono', Consolas, 'Courier New', monospace;
}

body {
    width: 100%;
    background-image: url(../Image/Background.png);
    background-attachment: fixed;
}