* {
    font-family: 'JetBrains Mono', Consolas, 'Courier New', monospace;
}

body {
    margin: 100px;
    background-image: url(../Image/Background.png);
}

body p {
    margin-top: 50px;
}

.goHome {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    padding: 20px;
    outline: none;
    font-weight: 600;
    color: black;
    background-color: transparent;
    font-size: 18px;
    border-bottom: 2px solid black;
}